@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Banner
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section inner-banner-section bg-overlay-black bg_img"
         data-background="assets/images/bg/inner-bg.png">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-12 text-center">
                <div class="banner-content">
                    <h1 class="title">Read FAQ’s</h1>
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Faq
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="faq-section bg--gray ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">General Questions</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. What types of aircrafts are
                                available?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. How many people do they hold?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Can I use more than one of your aircrafts
                                at a time?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Where can I fly on one of your private
                                jets?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Managing Your Booking</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. What types of aircrafts are
                                available?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. How many people do they hold?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Can I use more than one of your aircrafts
                                at a time?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Where can I fly on one of your private
                                jets?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="faq-section ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Managing Your Deals</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. What types of aircrafts are
                                available?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. How many people do they hold?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Can I use more than one of your aircrafts
                                at a time?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Where can I fly on one of your private
                                jets?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Managing Your Tour Packages</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. What types of aircrafts are
                                available?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. How many people do they hold?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Can I use more than one of your aircrafts
                                at a time?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Where can I fly on one of your private
                                jets?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="contact-section bg--gray ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-5 col-lg-5 mb-30">
                <div class="contact-left-content" data-aos="fade-right" data-aos-duration="1200">
                    <span class="sub-title">Talk to us</span>
                    <h2 class="title">
                        Any Question?
                        Fell Free to
                        Contact
                    </h2>
                    <p>
                        With a vast array of popular private planes to choose from, travelling by private jet
                        charter is the most efficient
                    </p>
                    <ul class="contact-social">
                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 mb-30">
                <div class="contact-form-inner" data-aos="fade-left" data-aos-duration="1200">
                    <div class="contact-form-area">
                        <form class="contact-form">
                            <div class="row justify-content-center mb-20-none">
                                <div class="col-xl-6 col-lg-6 form-group">
                                    <label class="icon"><i class="icon-name_icone"></i></label>
                                    <input type="text" class="form--control" name="name" placeholder="Name"
                                           required>
                                </div>
                                <div class="col-xl-6 col-lg-6 form-group">
                                    <label class="icon"><i class="las la-envelope"></i></label>
                                    <input type="email" class="form--control" name="email" placeholder="Email"
                                           required>
                                </div>
                                <div class="col-xl-6 col-lg-6 form-group">
                                    <label class="icon"><i class="icon-call_icone"></i></label>
                                    <input type="number" class="form--control" name="phone" placeholder="Phone"
                                           required>
                                </div>
                                <div class="col-xl-6 col-lg-6 form-group">
                                    <div class="contact-select">
                                        <select class="form--control">
                                            <option value="1">Subject</option>
                                            <option value="2">Subject one</option>
                                            <option value="3">Subject two</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="icon"><i class="icon-massage"></i></label>
                                    <textarea class="form--control" placeholder="Message" required></textarea>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <button type="submit" class="btn--base mt-10">
                                        Submit Now <i class="icon-Group-2361 ml-2"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
